#team {
  background-color: #f4f4fd;
}

#team h2 {
  color: #2e2f42;
  text-align: center;
}

#team h3 {
  color: #2e2f42;
  text-align: center;
}

#team p {
  text-align: center;
}

#team li {
  background-color: #ffffff;
}
